@model SaveMyHome.ViewModels.AnswerViewModel
@using Resources
@{
    ViewBag.Title = ReactionResult.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<div class="panel panel-warning">
    <div class="panel panel-heading">
        @{Html.RenderAction("HeadMessage");}
    </div>
    <div class="panel panel-body">
        <div class="form-group">
            @{Html.RenderAction("FloorSchema");}
        </div>
    </div>
    @{Html.RenderAction("AnswerMessages");}
</div>

    @Html.ActionLink(ReactionResult.LeavePageButton, "Index", "Home", null, new { @class = "btn btn-success" })
