@using SaveMyHome.Models
@{
    ViewBag.Title = "Главная";
}
@if (TempData["msg"] != null)
{
    <div class="alert alert-danger">
        @TempData["msg"]
    </div>
}

<div class="jumbotron">
    <p class="lead"> Данное веб-приложение призвано оказать помощь жителям многоэтажного дома в решении общих проблем.
            Приложение разрабатывается для конкретного дома (71 квартира и 12 этажей).
            На данный момент реализована функциональность по быстрому оповещению квартир о затоплении
            и выявлению жертв и виновника потопа. Алгоритм поиска потенциальных жертв и виновника потопа учитывает
            1-й и последний этажи, а также крайние квартиры этажей.
            Вместе с тем имеется вкладка "История проишествий", содержащая информацию о прошлых проблемах;
            вкладка "О доме", позволяющая быстро получить контактную и детальную информацию о жителях, с возможностью сортировки
            по имени, номеру квартиры во возрастанию и убыванию, а также поиска по имени. Список жителей разбит на страницы.
            Приложение поддерживает аутентификацию и авторизацию. в т.ч. с использованием внешних сервисов; 
            возможность редактирования личных данных, в т.ч. возможность добавления фото, прошедшими аутентификацию пользователями, 
            а также администратором. 
    </p>
</div>

@if (ViewBag.ProblemStatus == ProblemStatus.PotentialCulprit ||
     ViewBag.ProblemStatus == ProblemStatus.PotentialVictim)
{
    <div class="col-md-offset-5">
        @Html.ActionLink("Внимание", "Answer", "Flood", 
       new { notifyStatus = ViewBag.ProblemStatus }, 
       new { @class = "btn btn-lg btn-danger"})
    </div>
}
