@using Resources
@{
    ViewBag.Title = Resources.Layout.AdminPanel;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<H2>@ViewBag.Title</H2>
<div class="list-group">
    @Html.ActionLink(Account.VisitHistory, "Log", null, new { @class = "list-group-item" }) <br />
    @Html.ActionLink(Account.Credentials, "Accounts", null, new { @class = "list-group-item" })
</div>